wp-config.php
wp-config-sample.php
.idea/**
wp-content/uploads/2016/01/**
/readme.html
/lisenssi.html
/liesmich.html
/licenza.html
/license.txt
/licens-sv_SE.txt
/licens.html
/licencia.txt
/.htaccess
/LEGGIMI.txt
/wp-content/uploads/
/wp-content/uploads/2016/
/wp-content/uploads/2016/01/
/wp-content/uploads/2016/02/
/blogs/
/blogs/media/
/blogs/media/.hidden
/tmp/
/tmp/.hidden
/wp-content/themes/malin_awd/analyticstracking.php
